 # Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

#Compiled Static libraries
*.lai
*.la
*.a
s2e-*
cscope.*
tags

# some backup file with ~
*~
*.udb
*.bak

# build directory
/build/
/test/
/s2e-*/
/redhattest/
/s2e/codes/
